* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  font-family: "Poppins", sans-serif;
  background: transparent;
}

body {
  background: #99a799;
  color: #fef5ed;
  overflow: hidden;
  overflow-y: scroll;
}
